button {
    border: none;
    background: none;
    outline: none
}

@media(max-width:790px) {
    .hamb {
        padding: 8px;
        border-radius: 6px;
        border: 2px solid #233454;
        background-color: rgba(255, 255, 255, 0.8)
    }
}