.menu-drawer {
    min-height: 100%;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll
}

.menu-drawer.open {
    transform: translateX(0);
}

.logo-container {
    height: 70px;
    border-bottom: 1px solid rgb(200, 200,200);
    display: flex;
    align-items: center
}

.p-20-20 { padding:0px 0px 0px 20px }

.menu-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

.back-btn {
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #0091ea;
}

.menu-drawer a {
    color: #2d3754;
    text-decoration: none;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 42px;
    width: 280px;
    padding-left: 22px
}

.donate {
    width: 300px;
    background: linear-gradient(to right, #227b87, #fff);
    height: 42px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.donate p {
    font-family: 'Cabin Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    margin: 0
}

.menu-drawer a:active {
    color: #fff;
    background: linear-gradient(to right, #0091ea,  #00e5ff )
}

.img-base {
    width:300px;
    height:33%;
    background-position: top
}

.ml-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

button { border: none; outline: none; background: none}

@media(min-width:790px) {
    .menu-drawer { display: none}
}