.toolbar {
    width: 100%;
    position: absolute;
    height:54px;
    background-color: transparent;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 10px 0px
}

ul { padding: 0}

.t-nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button p {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.t-nav-item a {
    color: '#fff';
    text-decoration: none;
    font-weight: bold;
}

.t-nav-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
}

.t-nav-item li {
    padding: 0 0.5rem;
    margin: 0px 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.t-nav-item li div {
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: all 0.3s ease-in-out
}

.t-nav-item li:hover div {
    width: 100%
}

.t-nav-item a:hover,
.t-nav-item a:active {
    color: #00e5ff;
    cursor: pointer;
}

.active { color: #00e5ff }

.toolbar-img { width: 115px; height: 40px; margin: 15px}

.d-790 { display: none}

@media(max-width:790px) {
    .t-nav-item {display: none}
    .d-790 { display: flex}
    .toolbar { box-shadow: none; background: transparent }
    .toolbar-img { display: none}
}