.home_container {
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(120deg, #0091ea,  #00e5ff );
}

.content {
    display: flex;
    width: 100%;
    /* justify-content: flex-end; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 15px
} 

.mapa {
    /* position: absolute;
    left: 5%; */
    width: 90%;
    max-width: 748px;
    min-width: 318px;
    z-index: 1;
}

.logo-c {
    width: 70%;
    max-width: 490px;
    min-width: 285px;
    display: flex;
    flex-direction: column;
    z-index: 3
}

.w100 { width: 100% }

.btn-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

/* .btn-content div {
    height: 3px;
    width: 0px;
    background-color: #004c97;
    transition: all 0.3s ease-in-out
} */

.btn-content:hover div {width: 99.6% }

.btn-content:hover { cursor: pointer }

.part-btn {
    width: 100%;
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-radius: 30px;
    margin: 10px 0px;
    background: linear-gradient(120deg, #004c97, #0091ea);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.20);
    transition: all .3s ease-in-out
}

.part-btn:hover {
    background: linear-gradient(120deg, #0091ea, #503e2d );
    cursor: pointer;
}

.part-btn p {
    text-decoration: none;
    color: #fff;
    font-size: 20px
}

/* .part-btn a:active { color: #fff } */

@media(max-width:1280px) {
  .mapa{
      width: 930px;
      /* max-width: 748px; */
      min-width: 318px;
      z-index: 1;
      position: absolute;
      top: -10px;
      left: -80px;
      opacity: 0.4;
    }
}

@media(max-width:670px) {
    .mapa { left:-250px }
}

@media(max-width: 500px) { 
    .mapa {left:-350px}
}

@media(max-width:400px) {
.mapa { left: -450px}
}