.rodape {
    width: 100%;
    background-color: #FFF;
    border-top: 1px solid #fafafa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px
}

.w300 { width: 300px }
.w230 { width: 230px }

.rodape-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desc-content {
    width: 190px;
    text-align: center;
}

.p { margin: 0px; color:#0091ea }

.rodape-img { width: 100px; height:35px}

/* @media(max-width:529px) {

} */