.duv-cont {
    display: flex;
    flex:1;
    min-height: 100vh;
    background: linear-gradient(180deg, #004c97, #503e2d );
    padding: 10px 0px;
    width: auto;
    flex-direction: column;
}

.duv-wrapper {
    width: 90%;
    max-width: 768px;
    min-width: 320px;
}

.title-cont {
    width: 80%;
    min-width: 309px;
    border-bottom: #fff solid 2px;
    margin-bottom: 20px;
    height: 64px;
}

.title-cont-2 {
    width: 100%;
    min-width: 302px;
    border-bottom: #004c97 solid 2px;
    margin-bottom: 20px;
    height: 64px;
}

.title {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0px;
}

.flex {display: flex; align-items: center}

.row { flex-direction: row}

.column { flex-direction: column}

.spa-bet { justify-content: space-between}

.spa-cent {justify-content: center}

.spa-around {justify-content: space-around}

.spa-start {justify-content: flex-start}

.wrap { flex-wrap: wrap}

.duv-title {
    background-color: #fff;
    width: 99%;
    height: 64px;
    border-radius: 40px;
    padding: 0px 6px 0px 30px;
    margin-top: 12px;
    cursor: pointer;
}

.duv-title p {
    color: #004c97;
    font-weight: bold;
    font-size: 19px;
    margin: 0
}

.arrow-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #004c97;
}

.duv-text {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 
    0 0 4px 0 rgba(0,0,0,.14), 
    0 3px 4px 0 rgba(0,0,0,.12), 
    0 1px 5px 0 rgba(0,0,0,.20);
    width: 90%;
    margin: 8px 0px;
    overflow: hidden;
}

.duv-text p { color: #004c97; font-size: 18px }

.contate-nos {
    user-select: none;
    margin-top: 20px;
    width: 80%;
    min-width: 290px;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 
                0 3px 4px 0 rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.20);
}

.contate-title {
        font-size: 38px;
        font-weight: bold;
        color: #004c97;
        margin: 0 0 10px 0px;
}

.w100 { width:100% }

.w33 { width: 33%; min-width: 300px }

h1 { color: #004c97 }

.link { transition: all 0.3 ease-in-out }

.link:hover { transform: scale(1.2) }

@media(max-width:480px) {
    .duv-title p { font-size: 16px }
}