.reg-cont {
    flex: 1;
    min-height: 100vh;
    background: linear-gradient(180deg, #fff,  #00e5ff );
    width: auto;
    flex-direction: column;
    background-image: url("../../utils/img/bg-participate.jpg");
    background-size: cover;
    background-position: bottom;
    padding: 10px 0px
}

.w-100 { width: 100%}

.title-cont {
    width: 80%;
    min-width: 315px;
    border-bottom: #fff solid 2px;
    margin-bottom: 10px
}

.title {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0px;
}

.desc {
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}

.down-btn {
    width: 280px;
    height: 64px;
    background-color: #fff;
    border-radius: 34px;
    box-shadow: 
    0 0 4px 0 rgba(0,0,0,.14), 
    0 3px 4px 0 rgba(0,0,0,.12), 
    0 1px 5px 0 rgba(0,0,0,.20);
    padding: 0px 6px 0px 25px;
    cursor: pointer;
    margin: 10px 0px;
    transition: 0.3s all ease
}

.down-btn:hover {
    padding-right: 4px;
    box-shadow: 
    0 0 4px 0 #00e5ff, 
    0 3px 4px 0 #00e5ff, 
    0 1px 5px 0 #00e5ff
}

.down-btn:hover div {
    width: 60px;
    height: 60px;
}

.down-btn p {color: #004c97; font-size: 16px;}

.down-btn div {
    width: 52px; 
    height: 52px;
    border-radius: 50%;
    transition: 0.3s all ease
}

.flex {display: flex; align-items: center}

.row { flex-direction: row}

.spa-bet { justify-content: space-between}

.spa-cent {justify-content: center}

.spa-start {justify-content: flex-start}

.spa-around {justify-content: space-around}

.wrap { flex-wrap: wrap}

.btn-cont {
    width: 90%;
    min-width: 318px;
    max-width: 600px
}

.img-phone {
transform: rotate(50deg)
}

@media(max-width:425px) {
    .img-phone {display: none}
}

